.main {
  display: flex;
  width: 50vw;
  background-color: #64748b;
  min-height: 100vh;
  max-height: auto;
  flex-direction: column;
}
.heading {
  color: white;
}
.eventlist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}
.out {
  display: flex;
}
