.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fa7257;
  color: white;
}
.button {
  margin: 10px;
  padding: 10px;
}
.showHide {
  display: flex;
}
.showFirstName {
  margin: 20px;
  align-items: center;
  padding: 20px;
  color: black;
  border-radius: 10px;
  background-color: white;
}
