/* Write your CSS here */
.main {
  display: flex;
  background-color: #ffd569;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10%;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 80vh;
}
.image {
  height: 30vh;
}
c {
  color: #ffd569;
}
